{% extends "layoutAdmin.html.twig" %}
{% block title %}
	<title>Administration des users</title>
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/css/datatable.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
{% endblock %}
{% block contentAdmin %}
	<div class="container" style="padding-top: 150px;font-size:16px;">
		<div class="row">
			<div class="col-6">
				<div class="panel-heading">
					<h1 class="text-left">users Lists:</h1>
				</div>
			</div>
			<div class="col-6">
				<div class="panel-heading">
					<a href="/admin/users/create" class="btn btn-primary pull-right" style="font-size:16px;">
						<i class="fa fa-plus-circle"></i>
						Ajouter</a>
				</div>
			</div>
		</div>
		<hr>
		<div class="row" style="margin: 50px">

			<table id="myTable" style="border:solid 1px black" width="100%">
				<thead>
					<tr>
						<th>EMAIL</th>
						<th>USERNAME</th>
						<th>CREATED AT</th>
						<th>ACTIVATED</th>
						<th>ACTIONS</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{user.email}}</td>
							<td style="text-align:center;">{{user.username}}</td>
							<td style="text-align:center;">{{user.createdAt|date('d-m-Y')}}</td>
							<td>
								<div class="custom-control custom-switch" style="text-align:center;">
									<input type="checkbox" value="disabled" name="disabled" {% if user.activated == 1 %} checked {% endif %}>
									<label></label>
								</div>
							</td>
							<td style="text-align:center;">
								<div class="btn-group">
									<small>
										<a href="/admin/users/update/{{user.id}}" class="btn btn-primary" title="Edit" data-toggle="tooltip">
											<i class="fa fa-edit"></i>
										</a>
									</small>

									<small>
										<a href="/admin/users/delete/{{user.id}}" class="btn btn-danger" title="Delete" data-toggle="tooltip">
											<i class="fa fa-trash"></i>
										</a>
									</small>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% block javascript %}
		<script src="/js/datatable.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	{% endblock %}
{% endblock %}
